# ⚠️⚠️ **Backup your data before you proceed** ⚠️⚠️

## Transforming GreenDB v0.1 to v0.2

We slightly envolved the schema of the GreenDB, making it necessary to converting the existing data.

The changes are:
1. TODO..

This Notebook walks you through the necessary steps.

### Rename `green-db` to `green-db-backup`

```sql
ALTER TABLE "green-db" RENAME TO "green-db-backup";
```


### Re-Deploy `worker` Pods

These take care of bootstrapping the new tables.

```bash
make workers-test-deploy
```


### Copy `Scraping` Data v0.1 to v0.2

```sql
---- DE ----

INSERT INTO "otto_DE"
	SELECT "id", "timestamp", "merchant" AS "source", "merchant", 'DE' AS country, "category", "url", "html", "page_type",
	  CASE 
	    WHEN meta_information->>'sex' IS NULL THEN NULL
		 ELSE upper(meta_information->>'sex')
		END
		AS gender,
	  CASE
	    WHEN meta_information->>'sex' IS NULL THEN NULL
	    ELSE 'ADULT'
	  END
	  AS consumer_lifestage,
	  "meta_information"
	FROM otto;
	
INSERT INTO "amazon_DE"
	SELECT "id", "timestamp", "merchant" AS "source", "merchant", 'DE' AS country, "category", "url", "html", "page_type",
	  CASE 
	    WHEN meta_information->>'sex' IS NULL THEN NULL
		 ELSE upper(meta_information->>'sex')
		END
		AS gender,
	  CASE
	    WHEN meta_information->>'sex' IS NULL THEN NULL
	    ELSE 'ADULT'
	  END
	  AS consumer_lifestage,
	  "meta_information"
	FROM amazon;
	
INSERT INTO "zalando_DE"
	SELECT "id", "timestamp", "merchant" AS "source", "merchant", 'DE' AS country, "category", "url", "html", "page_type",
	  CASE 
	    WHEN meta_information->>'sex' IS NULL THEN NULL
		 ELSE upper(meta_information->>'sex')
		END
		AS gender,
	  CASE
	    WHEN meta_information->>'sex' IS NULL THEN NULL
	    ELSE 'ADULT'
	  END
	  AS consumer_lifestage,
	  "meta_information"
	FROM zalando;

---- FR ----

INSERT INTO "asos_FR"
	SELECT "id", "timestamp", "merchant" AS "source", "merchant", 'FR' AS country, "category", "url", "html", "page_type",
	  CASE 
	    WHEN meta_information->>'sex' IS NULL THEN NULL
		 ELSE upper(meta_information->>'sex')
		END
		AS gender,
	  CASE
	    WHEN meta_information->>'sex' IS NULL THEN NULL
	    ELSE 'ADULT'
	  END
	  AS consumer_lifestage,
	  "meta_information"
	FROM asos;

INSERT INTO "hm_FR"
	SELECT "id", "timestamp", "merchant" AS "source", "merchant", 'FR' AS country, "category", "url", "html", "page_type",
	  CASE 
	    WHEN meta_information->>'sex' IS NULL THEN NULL
		 ELSE upper(meta_information->>'sex')
		END
		AS gender,
	  CASE
	    WHEN meta_information->>'sex' IS NULL THEN NULL
	    ELSE 'ADULT'
	  END
	  AS consumer_lifestage,
	  "meta_information"
	FROM hm;

INSERT INTO "zalando_FR"
	SELECT "id", "timestamp", 'zalando' AS "source", 'zalando' AS "merchant", 'FR' AS country, "category", "url", "html", "page_type",
	  CASE 
	    WHEN meta_information->>'sex' IS NULL THEN NULL
		 ELSE upper(meta_information->>'sex')
		END
		AS gender,
	  CASE
	    WHEN meta_information->>'sex' IS NULL THEN NULL
	    ELSE 'ADULT'
	  END
	  AS consumer_lifestage,
	  "meta_information"
	FROM zalando_fr;

INSERT INTO "amazon_FR"
	SELECT "id", "timestamp", 'amazon' AS "source", 'amazon' AS "merchant", 'FR' AS country, "category", "url", "html", "page_type",
	  CASE 
	    WHEN meta_information->>'sex' IS NULL THEN NULL
		 ELSE upper(meta_information->>'sex')
		END
		AS gender,
	  CASE
	    WHEN meta_information->>'sex' IS NULL THEN NULL
	    ELSE 'ADULT'
	  END
	  AS consumer_lifestage,
	  "meta_information"
	FROM amazon_fr;

---- GB ----

INSERT INTO "zalando_GB"
	SELECT "id", "timestamp", 'zalando' AS "source", 'zalando' AS "merchant", 'GB' AS country, "category", "url", "html", "page_type",
	  CASE 
	    WHEN meta_information->>'sex' IS NULL THEN NULL
		 ELSE upper(meta_information->>'sex')
		END
		AS gender,
	  CASE
	    WHEN meta_information->>'sex' IS NULL THEN NULL
	    ELSE 'ADULT'
	  END
	  AS consumer_lifestage,
	  "meta_information"
	FROM zalando_uk;

INSERT INTO "amazon_GB"
	SELECT "id", "timestamp", 'amazon' AS "source", 'amazon' AS "merchant", 'GB' AS country, "category", "url", "html", "page_type",
	  CASE 
	    WHEN meta_information->>'sex' IS NULL THEN NULL
		 ELSE upper(meta_information->>'sex')
		END
		AS gender,
	  CASE
	    WHEN meta_information->>'sex' IS NULL THEN NULL
	    ELSE 'ADULT'
	  END
	  AS consumer_lifestage,
	  "meta_information"
	FROM amazon_uk;

---- Set autoincrement value ----

Select setval('"zalando_DE_id_seq"'::REGCLASS, (select max(id) FROM "zalando_DE"));
Select setval('"zalando_FR_id_seq"'::REGCLASS, (select max(id) FROM "zalando_FR"));
Select setval('"zalando_GB_id_seq"'::REGCLASS, (select max(id) FROM "zalando_GB"));

Select setval('"hm_FR_id_seq"'::REGCLASS, (select max(id) FROM "hm_FR"));

Select setval('"asos_FR_id_seq"'::REGCLASS, (select max(id) FROM "asos_FR"));

Select setval('"otto_DE_id_seq"'::REGCLASS, (select max(id) FROM "otto_DE"));

Select setval('"amazon_FR_id_seq"'::REGCLASS, (select max(id) FROM "amazon_FR"));
Select setval('"amazon_DE_id_seq"'::REGCLASS, (select max(id) FROM "amazon_DE"));
Select setval('"amazon_GB_id_seq"'::REGCLASS, (select max(id) FROM "amazon_GB"));
```

⚠️ Make sure the data looks like you expect it and delete the `v0.1` tables to save space.

```sql
DROP TABLE "amazon", "amazon_fr", "amazon_uk", "asos", "hm", "otto", "zalando", "zalando_fr", "zalando_uk";
```

## TODO: Brief description what's necessary

- Need to fill new GreenDB columns..

### Defining Helper and `v0.1` Classes

In [ ]:
import os
os.environ["POSTGRES_SCRAPING_USER"] = "scraping"
os.environ["POSTGRES_SCRAPING_PASSWORD"] = "TODO"
os.environ["POSTGRES_SCRAPING_HOST"] = "127.0.0.1"
os.environ["POSTGRES_SCRAPING_PORT"] = "5432"

os.environ["POSTGRES_GREEN_DB_USER"] = "green-db"
os.environ["POSTGRES_GREEN_DB_PASSWORD"] = "TODO"
os.environ["POSTGRES_GREEN_DB_HOST"] = "localhost"
os.environ["POSTGRES_GREEN_DB_PORT"] = "5432"

### Setup Env Variables

... and do not forget to forward the Postgres port.

In [ ]:
from datetime import datetime
from typing import Optional, Iterator, List

from pydantic import BaseModel, conlist
from sqlalchemy import ARRAY, BIGINT, INTEGER, NUMERIC, TEXT, TIMESTAMP, Column

import pandas as pd
import numpy as np

from database.connection import Scraping, Connection, GreenDB
from database.tables import __TableMixin, GreenDBBaseTable
from core.domain import Product, CurrencyType, CertificateType
from core.constants import DATABASE_NAME_GREEN_DB


#### Domains ####


class ScrapedPageWithoutHTML(BaseModel):
    timestamp: datetime
    source: str
    merchant: str
    country: str
    url: str
    category: str
    gender: Optional[str]
    consumer_lifestage: Optional[str]

    class Config:
        orm_mode = True
        use_enum_values = True


class ProductV1(BaseModel):
    timestamp: datetime
    url: str
    merchant: str
    category: str
    name: str
    description: str
    brand: str
    sustainability_labels: conlist(CertificateType, min_items=1)  # type: ignore
    price: float
    currency: CurrencyType
    image_urls: List[str]
    color: Optional[str]
    size: Optional[str]
    gtin: Optional[int]
    asin: Optional[str]

    class Config:
        orm_mode = True
        use_enum_values = True


#### Table ####


class GreenDBV1Table(GreenDBBaseTable, __TableMixin):
    """
    Used to access DB table of the V1 structure.
    """

    __tablename__ = "green-db-backup"

    id = Column(INTEGER, nullable=False, autoincrement=True, primary_key=True)
    timestamp = Column(TIMESTAMP, nullable=False)
    merchant = Column(TEXT, nullable=False)
    category = Column(TEXT, nullable=False)
    url = Column(TEXT, nullable=False)
    name = Column(TEXT, nullable=False)
    description = Column(TEXT, nullable=False)
    brand = Column(TEXT, nullable=False)
    sustainability_labels = Column(ARRAY(TEXT), nullable=False)
    price = Column(NUMERIC, nullable=False)
    currency = Column(TEXT, nullable=False)
    image_urls = Column(ARRAY(TEXT), nullable=False)
    color = Column(TEXT, nullable=True)
    size = Column(TEXT, nullable=True)
    gtin = Column(BIGINT, nullable=True)
    asin = Column(TEXT, nullable=True)


#### Connection ####


class GreenDBV1(Connection):
    def __init__(self) -> None:
        """
        `Connection` for the GreenDB.
        Automatically pre-populates the sustainability labels table.
        """
        super().__init__(GreenDBV1Table, DATABASE_NAME_GREEN_DB)

    def get_all_v1_products(self) -> Iterator[ProductV1]:
        with self._session_factory() as db_session:
            query = db_session.query(self._database_class)
            return (ProductV1.from_orm(row) for row in query.all())


#### Connection Extensions (aka Functions) ####


def write_dataframe(greenDB_connection, data_frame):
    with greenDB_connection._session_factory() as db_session:
        df_len = len(data_frame)

        for index, (df_index, product) in enumerate(data_frame.iterrows(), start=1):
            try:
                db_object = greenDB_connection._database_class(**Product.parse_obj(product).dict())
                db_session.add(db_object)

            except Exception as e:
                print(f"error for product with index: {df_index}")
                print(e)

            # commit every 1000 products and at the end
            if (index % 1000 == 0) or (index == df_len):
                db_session.commit()
                print(f"Commited {index} products")


def get_scraped_products_without_html(
    scraping_connection: Scraping,
) -> Iterator[ScrapedPageWithoutHTML]:
    with scraping_connection._session_factory() as db_session:
        query = db_session.query(
            scraping_connection._database_class.timestamp,
            scraping_connection._database_class.source,
            scraping_connection._database_class.merchant,
            scraping_connection._database_class.country,
            scraping_connection._database_class.url,
            scraping_connection._database_class.category,
            scraping_connection._database_class.gender,
            scraping_connection._database_class.consumer_lifestage,
        ).filter(scraping_connection._database_class.page_type == "PRODUCT")
        return (ScrapedPageWithoutHTML.from_orm(row) for row in query.all())

### Load GreenDB and Scraping Tables

In [ ]:
connections = [
    Scraping("zalando_DE"),
    Scraping("zalando_GB"),
    Scraping("zalando_FR"),
    Scraping("otto_DE"),
    Scraping("hm_FR"),
    Scraping("asos_FR"),
    Scraping("amazon_DE"),
    Scraping("amazon_FR"),
    Scraping("amazon_GB"),
]

In [ ]:
scraping_tables_v1 = []

for connection in connections:
    scraping_table_v1_iterator = get_scraped_products_without_html(connection)
    scraping_tables_v1.append(pd.DataFrame([product.__dict__ for product in scraping_table_v1_iterator]))

scraping_v1 = pd.concat(scraping_tables_v1)


scraping_v1_asos = scraping_v1[scraping_v1["merchant"] == "asos"].copy()
scraping_v1_without_asos = scraping_v1[scraping_v1["merchant"] != "asos"].copy()

print(f"Scraped products (all):      {len(scraping_v1)}")
print(f"Scraped products (Asos):     {len(scraping_v1_asos)}")
print(f"Scraped products (wo/ Asos): {len(scraping_v1_without_asos)}")

assert len(scraping_v1) == (len(scraping_v1_asos) + len(scraping_v1_without_asos))
del scraping_v1

In [ ]:
greenDBV1 = GreenDBV1()

products_v1_iterator = greenDBV1.get_all_v1_products()
products_v1 = pd.DataFrame([product.__dict__ for product in products_v1_iterator])

products_v1_asos = products_v1[products_v1["merchant"] == "asos"].copy()
products_v1_without_asos = products_v1[products_v1["merchant"] != "asos"].copy()

print(f"Products (all):      {len(products_v1)}")
print(f"Products (Asos):     {len(products_v1_asos)}")
print(f"Products (wo/ Asos): {len(products_v1_without_asos)}")

assert len(products_v1) == (len(products_v1_asos) + len(products_v1_without_asos))
del products_v1

### Join Scraping and GreenDB

Since scraping Asos is handled differently, we need to implement it separately.

#### Join Products without Asos

In [ ]:
indices = list(
    zip(
        scraping_v1_without_asos["timestamp"],
        scraping_v1_without_asos["url"],
        scraping_v1_without_asos["category"],
    )
)
scraping_v1_without_asos.index = pd.MultiIndex.from_tuples(
    indices, names=["timestamp", "url", "category"]
)
scraping_v1_without_asos = scraping_v1_without_asos[["source", "country", "gender", "consumer_lifestage"]]

In [ ]:
products_v2_without_asos = products_v1_without_asos.join(
    scraping_v1_without_asos, on=["timestamp", "url", "category"]
)

The shops might list products in multiple categories which we have just assigned to one category. This creates duplicate extracted products so joining the DataFrames, using just `timestamp`, `url` and `category`.
We can not fully map instances from scraping table to green-db table but for including `gender` information this is not necessary.
If we have multiple products with same `url` and different `category`s assigned to different `gender`, the extracted products are just duplicates of each other, because the product is basically a `UNISEX` product assigned to multiple `category`s.

In [ ]:
products_v2_without_asos = products_v2_without_asos.drop_duplicates(
    subset=["timestamp", "url", "source", "merchant", "category", "gender", "consumer_lifestage"]
)

print(f"Products without Asos after processing: {len(products_v2_without_asos)}")

#### Join Asos Products

In [ ]:
# Scraping

scraping_v1_asos["product_id"] = scraping_v1_asos["url"].apply(lambda x: x.split("/")[-1].split("?")[0])
scraping_v1_asos["product_id"] = scraping_v1_asos["product_id"].astype("int64")

scraping_indices = list(
    zip(scraping_v1_asos["product_id"], scraping_v1_asos["timestamp"], scraping_v1_asos["category"])
)
scraping_v1_asos.index = pd.MultiIndex.from_tuples(
    scraping_indices, names=["timestamp", "url", "category"]
)

scraping_v1_asos = scraping_v1_asos[["source", "country", "gender", "consumer_lifestage"]]

# Products

products_v1_asos["product_id"] = products_v1_asos["url"].apply(lambda x: x.split("/")[-1])
products_v1_asos["product_id"] = products_v1_asos["product_id"].astype("int64")

product_indices = list(
    zip(products_v1_asos["product_id"], products_v1_asos["timestamp"], products_v1_asos["category"])
)
products_v1_asos.index = pd.MultiIndex.from_tuples(
    product_indices, names=["timestamp", "url", "category"]
)

In [ ]:
products_v2_asos = products_v1_asos.join(scraping_v1_asos, how="left")

In [ ]:
products_v2_asos = products_v2_asos.drop_duplicates(
    subset=["timestamp", "url", "merchant", "category", "gender"]
)

print(f"Asos products after processing: {len(products_v2_asos)}")

#### Combine Products

... and some transformations necessary, e.g., `color` are strings often multiple values concatenated with ",", those will be arrays in the column `colors`.

In [ ]:
products_v2 = pd.concat([products_v2_without_asos, products_v2_asos])

merchant_to_new_merchant = {
    "asos": "asos",
    "amazon": "amazon",
    "amazon_fr": "amazon",
    "amazon_uk": "amazon",
    "zalando": "zalando",
    "zalando_fr": "zalando",
    "zalando_uk": "zalando",
    "otto": "otto",
    "hm": "hm",
}

products_v2["merchant"] = products_v2["merchant"].apply(
    lambda x: merchant_to_new_merchant[x]
)
products_v2["colors"] = products_v2["color"].apply(lambda x: [x] if x else None)
products_v2["sizes"] = products_v2["size"].apply(
    lambda sizes: None if sizes == "None" or sizes is None else sizes.split(", ")
)
products_v2 = products_v2.replace({np.nan: None})

print(f"Overall products (v2): {len(products_v2)}")

### Insert Products into new GreenDB Table

In [ ]:
greenDB_connection = GreenDB()

In [ ]:
write_dataframe(greenDB_connection, products_v2)

Setup autoincrement for the green-db.

```sql
Select setval('"green-db_id_seq"'::REGCLASS, (select max(id) FROM "green-db"));
````

## Cleanup

If everything went well and the tables look good, you can delete the old table:

```sql
DROP TABLE "green-db-backup";
```